*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  background: #333;
  padding: 2rem 5rem;
}

.ham {
  display: none;
}

ul > li {
  list-style: none;
}

ul {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  body {
    padding: 2rem;
  }

  .ham {
    cursor: pointer;
    display: block;
    z-index: 3;
  }
  .logo{
    max-width: 50%;
    z-index: 1;
  }
  .container {
    position: relative;
  }

  ul{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: hsl(0, 0%, 0%);
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    font-size: 1.75rem;
    text-transform: uppercase;
  }
  .navbar_links{
    display: none;
  }
  .navbar_links.active{
    display: flex;
  }
}
