* {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  margin: 0;
  min-height: 100dvh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
body {
  min-height: 100svh;
}

.ham {
  display: none;
}

ul > li {
  list-style: none;
}

ul {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .ham {
    cursor: pointer;
    display: block;
    /* z-index: 3; */
  }
  .logo {
    max-width: 50%;
    /* z-index: 1; */
  }
  .container {
    position: relative;
  }

  ul {
    position: fixed;
    padding: 0;
    left: 0;
    top: -2rem;
    min-height: 100svh;
    width: 100%;
    background: hsl(0, 0%, 0%);
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    font-size: 1.75rem;
    text-transform: uppercase;
  }
  .navbar_links {
    display: none;
  }
  .navbar_links.active {
    display: flex;
  }
}
